#image-uploader {
  padding: 25px 25px 25px 25px; }
  #image-uploader .circle-preview {
    border-radius: 50%;
    vertical-align: top;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin-right: -5px;
    transition: border-radius 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; }
  #image-uploader .cropParent {
    width: 500px;
    height: 350px; }
  #image-uploader .cropArea {
    width: 500px;
    height: 350px;
    margin-bottom: 25px; }
  #image-uploader canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px; }

.creator-active-bkgnd {
  border: 2px solid #0ad3ff; }

.creator-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  /*
    .btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none
    }

    .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
      border-color: transparent
    }

    .btn-link:hover, .btn-link:focus {
      color: #4f7b9d;
      text-decoration: underline;
      background-color: transparent
    }

    .btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
      color: #b4bcc2;
      text-decoration: none
    }
    */ }
  .creator-input .btn-link {
    color: #344e69;
    font-weight: normal;
    border-radius: 0; }
  .creator-input .input-tab {
    color: #669BBC;
    font-weight: normal;
    border-radius: 0; }
  .creator-input.active .tab-icon {
    color: #2c3e50;
    font-weight: normal;
    border-radius: 0; }
  .creator-input a .tab-icon {
    color: #669BBC;
    font-weight: normal;
    border-radius: 0; }
  .creator-input .active a .tab-icon {
    color: #2c3e50;
    font-weight: normal;
    border-radius: 0; }
  .creator-input p {
    line-height: 1px; }
  .creator-input .creator-tab.active {
    border-bottom: none; }
  .creator-input .creator-input-save {
    display: block;
    float: right; }
  .creator-input .creator-tab {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; }
  .creator-input .creator-tab-container {
    padding-left: -5px; }
    .creator-input .creator-tab-container .creator-form {
      padding-left: 2em; }

.detail-item-entry {
  display: inline-block;
  padding: 5px 5px;
  width: 170px;
  border: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.detail-item-show {
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: top;
  width: 15px;
  border: 1px solid black; }

.detail-item-delete {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 30px;
  border: 1px solid black; }

.color-black {
  color: black; }

li.res-entity-list {
  padding: 0 !important;
  margin: 0 !important; }

/*
.res-entity-input{
  input{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
 //   border-radius: 2px;
 //   border-bottom: 2px #2c3e50 solid;
   // box-shadow: none !important;
  //  margin: 0;
  }
}
*/
#modal-close-position {
  position: relative;
  top: 5px;
  right: 5px; }

#download-modal-right {
  height: 100%;
  display: inline-block;
  padding-top: 30%;
  text-align: center;
  vertical-align: middle; }

.first-color-choice {
  color: #000000; }

.second-color-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #686868; }

.sea-foam-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #236860; }

.yellow-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #bab52e; }

.bright-blue-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #0ad3ff; }

.purple-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: purple; }

.dark-blueish-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #1C085B; }

.umm-blue-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #216785; }

.umm-blue-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #216785; }

.first-color-all {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #000000; }

.hide-text:before {
  content: 'none'; }

.item {
  width: 200px;
  height: 200px;
  margin: 10px; }

.grid-item {
  width: 25%; }

.grid-item--width2 {
  width: 50%; }

.add-extra-pages {
  height: 2200px; }

.creator-outline {
  background-color: white !important;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  @media (min-width: 768px) {
    .creator-outline {
      width: 850px; } }

.background-label {
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid black; }

.honey-background-select {
  height: 220px;
  width: 170px;
  background-image: url(/src/styles/backgrounds/bkgrnd.design.png);
  background-color: black;
  background-size: contain; }

.curve-background-select {
  height: 220px;
  width: 170px;
  background-image: url(/src/styles/backgrounds/background-curve.svg);
  background-color: black;
  background-size: contain; }

.no-background-select {
  height: 220px;
  width: 170px;
  background-color: white; }

.view-container {
  position: relative;
  height: 98vh; }

ui-view.ng-enter {
  transition: 1s;
  opacity: 0; }

ui-view.ng-enter-active {
  opacity: 1; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideOutLeft {
  to {
    transform: translateY(-200%); } }

@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateY(-200%); } }

@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateY(-200%); } }

@keyframes slideInRight {
  from {
    transform: translateY(200%); }
  to {
    transform: translateY(0); } }

@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateY(200%); }
  to {
    -moz-transform: translateY(0); } }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateY(200%); }
  to {
    -webkit-transform: translateY(0); } }

.frow {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }
  .frow .fcol-full {
    flex: 0 0 100%; }
  .frow .fcol-11 {
    flex: 0 0 91.66666667%; }
  .frow .fcol-10 {
    flex: 0 0 83.33333333%; }
  .frow .fcol-9 {
    flex: 0 0 75%; }
  .frow .fcol-8 {
    flex: 0 0 66.66666667%; }
  .frow .fcol-7 {
    flex: 0 0 58.33333333%; }
  .frow .fcol-6 {
    flex: 0 0 50%; }
  .frow .fcol-5 {
    flex: 0 0 41.66666667%; }
  .frow .fcol-4 {
    flex: 0 0 33.3333%; }
  .frow .fcol-3 {
    flex: 0 0 25%; }
  .frow .fcol-2 {
    flex: 0 0 16.667%; }
  .frow .fcol-1 {
    flex: 0 0 8.333%; }
  .frow .start-fcol {
    justify-content: flex-start;
    text-align: start; }
  .frow .center-fcol {
    justify-content: center;
    text-align: center; }
  .frow .end-fcol {
    justify-content: flex-end;
    text-align: end; }
  .frow .top-fcol {
    align-items: flex-start; }
  .frow .middle-fcol {
    align-items: center; }
  .frow .bottom-fcol {
    align-items: flex-end; }
  .frow .around-fcol {
    justify-content: space-around; }
  .frow .between-fcol {
    justify-content: space-between; }

/*

  .text {
    font-family: 'Merriweather', serif !important;
    font-size: 30px !important;
    font-weight: 800 !important;
    opacity: 1;
  }

    .text {
    font-family: 'Merriweather', serif !important;
    font-size: 30px !important;
    font-weight: 800 !important;
    opacity: 1;
  }
 */
/* Mixin's in this file:
pageOnlyFonts
muyMuchoFont
extraLargeFont
largeFont
mediumFont
normalFont
smallFont

*/
/*
// Site Font Sizing
for $fontFamily ( see variables/fonts )


wording based upon the pixel size of the font"
extra large: 50px
large: 40px
medium: 30px
normal: 20px
small: 15px
extra small: 10px

 */
.spacer-line {
  border-bottom: 2px solid black;
  margin-left: -42px;
  width: 850px; }

.side-items {
  padding-top: 140px; }
  .side-items .side-item-master {
    padding-left: 20px; }
    .side-items .side-item-master .set-master {
      color: rgba(255, 255, 255, 0.67);
      font-size: 30px; }
  .side-items .side-item-save {
    padding-left: 20px;
    padding-top: 15px; }
    .side-items .side-item-save .creator-save {
      color: rgba(255, 255, 255, 0.67);
      font-size: 30px; }
  .side-items .side-item-download {
    padding-left: 20px;
    padding-top: 15px; }
    .side-items .side-item-download .creator-download {
      color: rgba(255, 255, 255, 0.67);
      font-size: 30px; }
  .side-items .side-item-view {
    padding-left: 20px;
    padding-top: 15px; }
    .side-items .side-item-view .creator-view {
      color: rgba(255, 255, 255, 0.67);
      font-size: 30px; }

#creator-component {
  padding-top: 70px;
  padding-bottom: 100px;
  background-image: url("../backgrounds/Desk-empty2.jpg");
  background-size: contain; }

.res-listing-page {
  padding-top: 35px;
  min-height: 98vh;
  margin-left: 100px;
  padding-left: 100px; }
  .res-listing-page .listing-thumb {
    height: 433px;
    width: 438px;
    transform: scale(1.53, 1.53); }
  .res-listing-page .res-listing-items {
    padding-bottom: 15px; }

creatordisplay#core.ng-enter, creatordisplay#core.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

creatordisplay#core.ng-enter, creatordisplay#core.ng-leave.ng-leave-active {
  opacity: 0; }

creatordisplay#core.ng-leave, creatordisplay#core.ng-enter.ng-enter-active {
  opacity: 1; }

.norm-cursor {
  cursor: default; }

#download-prep-screeen {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2c3e50; }
  #download-prep-screeen #download-prep-template {
    text-align: center; }
    #download-prep-screeen #download-prep-template .loading-note {
      width: 50%;
      height: 50%;
      padding-top: 25%;
      font-size: 50px;
      color: white; }
  #download-prep-screeen.ng-enter, #download-prep-screeen.ng-leave {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }
  #download-prep-screeen.ng-enter, #download-prep-screeen.ng-leave.ng-leave-active {
    opacity: 0; }
  #download-prep-screeen.ng-leave, #download-prep-screeen.ng-enter.ng-enter-active {
    opacity: 1; }

.module-container {
  width: 100%;
  border: 1px solid #d1d1d1;
  /* clearfix */ }
  .module-container .gutter-sizer {
    width: 2%;
    display: none; }
  .module-container .module-container:after {
    content: ' ';
    display: block;
    clear: both; }
  .module-container .module, .module-container .module-sizer {
    height: 200px;
    width: 100px;
    border: 1px solid #eaeaea;
    background-color: #c4c4c4; }
  .module-container .module {
    float: left; }
    .module-container .module.wide {
      width: 50%; }
    .module-container .module:hover {
      background-color: #bfbfbf;
      cursor: pointer; }
    .module-container .module.is-dragging {
      z-index: 2; }

.active-item {
  color: #18bc9c; }
  .active-item .active-bold {
    font-weight: 700;
    border-bottom: 1px black solid; }

.font-choices {
  margin: 0;
  font-size: 15px; }

.font-section-lists {
  margin-top: 10px;
  margin-bottom: 10px; }

.font-divider {
  border-bottom: 1px solid #2c3e50;
  margin-bottom: 5px; }
