.first-color-choice {
  color: #000000; }

.second-color-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #686868; }

.sea-foam-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #236860; }

.yellow-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #bab52e; }

.bright-blue-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #0ad3ff; }

.purple-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: purple; }

.dark-blueish-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #1C085B; }

.umm-blue-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #216785; }

.umm-blue-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #216785; }

.first-color-all {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid #000000;
  height: 20px;
  width: 40px;
  background-color: #000000; }
