
<div class="login-page-container">
  <div class="login-top-items login-heading">
   <img class='login-loading-logo' src="../../../assets/design-items/login_gray_black_border.svg">
  </div>
  <div class="login-top-items"></div>
  <div class="login-top-items"></div>
  <div class="login-top-items">
  <a ui-sref="home">
    <img class='login-loading-logo' src="../../../assets/brand/drawing_white2.png" width="50px" height="50px">
  </a>
  </div>
  <div class="login-small-fill"></div>
  <div class="login-middle-items">

    <form id="login-form" ng-if="$ctrl.loginForm">
      <fieldset>
        <input class="login-input email-form" id="user" type="text" name="user" placeholder="Email"
               ng-model="$ctrl.user"
               ng-disabled="$ctrl.loading"/>
        <br>
        <input class="login-input" id="password" type="password" name="pass" placeholder="password"
               ng-model="$ctrl.pass"
               ng-disabled="$ctrl.loading"/>
        <br>
        <button class="login-input login-submit" type="submit" ng-disabled="$ctrl.loading"
                ng-click="$ctrl.login()"
                id="login-button">Login
        </button>
      </fieldset>
    </form>
  </div>
  <div class="login-extra-small-fill">
    <button ng-click="$ctrl.facebookLogin()" class="social-button top  btn-social btn-facebook"><span class="fa fa-facebook"></span>Login with Facebook</button>
    <button  ng-click="$ctrl.googleLogin()" class="social-button middle btn-social btn-google"><span class="fa fa-google"></span>Login with Google</button>
    <button ng-click="$ctrl.githubLogin()" class="social-button bottom btn-social btn-github"><span class="fa fa-github"></span>Login with Github</button>
  </div>
  <div class="login-middle-items">

  </div>
  <div class="login-middle-items"></div>
  <div class="login-middle-items"></div>
  <div class="login-middle-items">
    <div class="login-bottom-signup-button">
      <div class="login-signup-button-text" ui-sref="signuproute">
        No account?
        Click here to sign up
      </div>
  </div>

</div>


</div>