
.env
General-todo
notes
notes2/
dblocal.json
coverage/
.idea/
node_modules/
bower_components/
backend/pdftemp/
gulpfile.js
testing/
/assets/
page_images/
/zNotes/
/vendor/fine-uploader-from-github/
/webpack-Watch.config.js
/webpack.config.js
/webpack-serve.config.js
/src/5839131c162dd76748d65d39resume.pdf
/.env
/deploy-frontend.sh
/backend/node_modules/
/backend/bin/.env
