<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <task-list task-list="$ctrl.taskListing" task-classes="$ctrl.taskClasses">
          <task-complete-btn><i class="fa fa-check-square-o" aria-hidden="true"></i></task-complete-btn>
          <task-incomplete-btn><i class="fa fa-square-o" aria-hidden="true"></i></task-incomplete-btn>
          <task-edit-btn><i class="fa fa-pencil-square-o" aria-hidden="true"></i></task-edit-btn>
          <task-delete-btn><i class="fa fa-minus" aria-hidden="true"></i></task-delete-btn>
          <task-update-btn><i class="fa fa-check fa-lg" aria-hidden="true"></i></task-update-btn>
          <task-update-cancel-btn><i class="fa fa-reply fa-lg" aria-hidden="true"></i></task-update-cancel-btn>
        </task-list>
      </div>
    </div>
  </div>
</div>