
.env
General-todo
notes
notes2/
dblocal.json
coverage/
.idea/
node_modules/
bower_components/
backend/pdftemp/
testing/
assets/
page_images/
/zNotes/
/backend/styles/fonts/All_Fonts_OLD/
public/image/

/deploy-backend_orig.sh
/backend/controllers/zdemo/
/dummyFile1.js
/backend/controllers/scraps-holding
/public/pdf/
/public/temp/
/public/tests/
/e2e.config.js
/deploy.sh
/TODO_Notes
/deploy-backend.sh
/new-scratches/
/scraps/
/BingSiteAuth.xml
/google25228bd1fa6ae1a2.html
/bin/.env
