<div class="editor-right">
 <div style="{position: absolute; top: 0; left: 0; width: 517px; color: white;}">

  <p>Added On:&nbsp;{{$ctrl.postData.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</p>
  <p>Company:&nbsp; {{$ctrl.postData.company}}</p>
  <p>Title:&nbsp; {{$ctrl.postData.title}}</p>
  <p>Description: &nbsp;{{$ctrl.postData.description}}</p>
  <p>City: &nbsp;{{$ctrl.postData.city}}</p>
  <h5>Tasks:</h5>
  <p ng-repeat="task in $ctrl.postData.tasks">{{task.label}}</p>
 </div>

 <!--<editor-crop show-cropper="$ctrl.showCrop()"></editor-crop>-->
</div>






