.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}



.startDay button span {
  background-color: #47ff88;
  border-radius: 32px;
  color: black;
}

.betweenDays button span{
  background-color: #abe6ff;
  //border-radius: 32px;
  color: black;
}

.stopDay button span {
  background-color: #ff9ca4;
  border-radius: 32px;
  color: black;
}