
.res-listing-page {
  padding-top: 35px;
  min-height: 98vh;
  margin-left: 100px;
  padding-left: 100px;

  .listing-thumb {
    height: 433px;
    width: 438px;
    transform: scale(1.53, 1.53);
  }

  .res-listing-items {
    padding-bottom: 15px;
  }

}