/* This file contains variable declarations (do not remove this line) */
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* $section Grid styles
*/
/**
* $section Header styles
*/
/** $description Colors for header gradient */
/**
* $section Grid body styles
*/
/** $description Colors used for row alternation */
/**
* $section Sort arrow colors
*/
/**
* $section Scrollbar styles

$scrollbarBackground: darken($rowColorEven, 15%);
$scrollbarBackgroundHover: darken($scrollbarBackground, 15%);
$scrollbarBackgroundScrolling: darken($scrollbarBackgroundHover, 15%);
$scrollbarWidth: 10px;
$scrollbarBorderRadius: 2px;
$scrollbarShadow: 0 0 0px #fff;
$scrollbarBorder: 1px solid darken($scrollbarBackground, 15%);
$scrollbarBorderScrolling: 1px solid darken($scrollbarBackgroundScrolling, 15%);
*/
/**
* $section font library path
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
.ui-grid-render-container {
  position: inherit;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .ui-grid-render-container:focus {
    outline: none; }

.ui-grid-viewport {
  min-height: 20px;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .ui-grid-viewport:focus {
    outline: none !important; }

.ui-grid-canvas {
  position: relative;
  padding-top: 1px; }

.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #fdfdfd; }

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #f3f3f3; }

.ui-grid-row:last-child .ui-grid-cell {
  border-bottom-color: black;
  border-bottom-style: solid; }

.ui-grid-no-row-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10%;
  background-color: transparent;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.84);
  color: black;
  font-size: 2em;
  text-align: center; }
  .ui-grid-no-row-overlay > * {
    position: absolute;
    display: table;
    margin: auto 0;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.66; }
