<!--<div>-->
<br>
  <br>
  <h1>No Targets Yet!</h1>
  <h3>Jhuntr Chrome extension coming next week to allow you to collect job postings and easily customize your resume to fit.</h3>
  <a ui-sref="itemUpload" ng-click="$ctrl.uploadPosting()">Upload A Posting</a>
  <!-- <div ng-if="$ctrl.usingChrome">
     <h4>
       Try the chrome extension to capture and save posting to easily customize your resume
     </h4>
     <h6>The Chrome Extension will be in the Chrome store soon. In the mean time you can find it here: </h6>
     <h4>
       Coming Soon: Manually upload postings to your target list.
     </h4>
   </div>
   <div ng-if="!$ctrl.usingChrome">-->
    <!--<h2>
      Upload or enter a posting to easilty customize your resume
    </h2>-->
    <!--<h2>
      Coming Soon: Manual uploading of postings to target list.
    </h2>
    <h4>Or get Chrome and Jhuntr chrome extension to upload with one click!</h4>
    <h6>The Chrome Extension will be in the Chrome store soon. In the mean time you can find it here: </h6>

  </div> -->
</div>