<div style="color: white; background-color: #2c3e50">
<br/>
<br/>
<br/>
<h4> Looks like this is still to come.  Meanwhile send us a message asking your question.</h4><a ui-sref="issuesroute" class="btn btn-link">Contact Us</a><br/>
<!--
<div class="row">
  <div class="col-md-4">
    <h3 class="text-center"> How do I: </h3>
    <br/>
  </div>
  <div class="col-md-4">
    <br/>
    <h4>Save a job posting</h4>
    <h4>Tailor my Res for a saved posting</h4>
    <h4>Create a Res</h4>
    <h4>something else</h4>
    <h4>something else</h4>
    <h4>something else</h4>
    <h4>something else</h4>
    <h4>something else</h4>
  </div>
  <div class="col-md-4">

  </div>
</div>
-->

  <h2>Target List</h2>
  <h4></h4>

  <img src="../../../assets/images/target-list-snippet-numbered.png" height="200" width="800">

  <h4>Upload Posting</h4>
  <h4>As Image:</h4>
  <h4>As Pdf:</h4>


  <h2>Side By Side Editor</h2>

  <h4>Select A Res</h4>
  <span>Associates a copy of the selected resume with the current target job posting</span>
  <h4>Save</h4>
  <h4>Style Options</h4>
  <span>Options to change the fonts, secondary color, included sections, and showing or hiding an uploaded image </span>
  <h4>Import From Master</h4>
  <span>Provides a list of the content included in the Master Resume (set through the Resumes view/edit page) from which you can select and import into the active target associated resume.</span>
  <h4>Adjust Post View</h4>
  <span> Allows you to temporarily crop the description view to better see the requirements and/or description of the target job posting</span>


  <h2>Resumes</h2>

  <h2>Create/Edit a Resume</h2>
  <span> Allows you to create and edit a resume free of any association with a particular target job posting</span>
  <h4>Set Master</h4>
  <span>Sets the active resume as master.<br>
    This allows you to use the Import From Master in the side by side editor to select and import individual items into a target associated resume.</span>

  <h4>Save</h4>
  <span>Save the active resume</span>
  <h4>Download</h4>
  <span> Create, preview and download a pdf of the active resume</span>

  <h4>View</h4>
  <span> view and/or download a previously created pdf of the active resume.  Good for comparing edits</span>
</div>
