

<div class="footer-template-container frow">



  <div class="site-footer-left fcol-6">
    <div class="footer-tagline"><b>Jhuntr</b> allows you to aggregate application materials and streamline your job
      application process
    </div>
    <div class="footer-support">
      <a ui-sref="supportroute">Support</a>
    </div>
    <div class="footer-disclaimer">
      <a ui-sref="disclaimroute">Beta Disclaimer</a>
    </div>
  </div>

  <div class="site-footer-right fcol-6">
    <div class="footer-right-content">
      <div class="footer-help">
        <a ui-sref="supportroute"
           uib-tooltip="Support"
           tooltip-popup-delay="500"
           tooltip-placement="left">
          <i class="fa fa-question-circle fa-lg" aria-hidden="true">
          </i>
          help
        </a>
      </div>
      <div class="footer-version">Version: 0.0.0-beta.1</div>
      <div class="footer-copy">&copy;Copyright 2016</div>
    </div>
  </div>

</div>


<!--
<div  ng-cloak>

  <p class="footer-help">&nbsp;&nbsp;&nbsp;<a ui-sref="supportroute">Support</a></p>
  <p class="footer-disclaimer">&nbsp;&nbsp;&nbsp;<a ui-sref="disclaimroute">Beta Disclaimer</a></p>
  </div>
    <!--<p class="pull-left small">  Please note at this time we cannot make or infer any assurance of data persistence, reliability, or any other expectation. </p>-->







