.frow {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }
  .frow .fcol-full {
    flex: 0 0 100%; }
  .frow .fcol-11 {
    flex: 0 0 91.66666667%; }
  .frow .fcol-10 {
    flex: 0 0 83.33333333%; }
  .frow .fcol-9 {
    flex: 0 0 75%; }
  .frow .fcol-8 {
    flex: 0 0 66.66666667%; }
  .frow .fcol-7 {
    flex: 0 0 58.33333333%; }
  .frow .fcol-6 {
    flex: 0 0 50%; }
  .frow .fcol-5 {
    flex: 0 0 41.66666667%; }
  .frow .fcol-4 {
    flex: 0 0 33.3333%; }
  .frow .fcol-3 {
    flex: 0 0 25%; }
  .frow .fcol-2 {
    flex: 0 0 16.667%; }
  .frow .fcol-1 {
    flex: 0 0 8.333%; }
  .frow .start-fcol {
    justify-content: flex-start;
    text-align: start; }
  .frow .center-fcol {
    justify-content: center;
    text-align: center; }
  .frow .end-fcol {
    justify-content: flex-end;
    text-align: end; }
  .frow .top-fcol {
    align-items: flex-start; }
  .frow .middle-fcol {
    align-items: center; }
  .frow .bottom-fcol {
    align-items: flex-end; }
  .frow .around-fcol {
    justify-content: space-around; }
  .frow .between-fcol {
    justify-content: space-between; }

/*

  .text {
    font-family: 'Merriweather', serif !important;
    font-size: 30px !important;
    font-weight: 800 !important;
    opacity: 1;
  }

    .text {
    font-family: 'Merriweather', serif !important;
    font-size: 30px !important;
    font-weight: 800 !important;
    opacity: 1;
  }
 */
/* Mixin's in this file:
pageOnlyFonts
muyMuchoFont
extraLargeFont
largeFont
mediumFont
normalFont
smallFont

*/
/*
// Site Font Sizing
for $fontFamily ( see variables/fonts )


wording based upon the pixel size of the font"
extra large: 50px
large: 40px
medium: 30px
normal: 20px
small: 15px
extra small: 10px

 */
.core-input-basics {
  color: #2c3e50 !important; }

.editor-container {
  background-image: url("../backgrounds/Desk-empty2.jpg");
  background-size: cover;
  padding-right: -5px;
  padding-top: 30px; }

.editor-top-container {
  resize: both;
  padding: 30px 15px 0 10px; }

.editor-sides-container {
  position: relative; }

.editor-left-container {
  position: relative;
  flex: 0 0 62%;
  max-width: 850px;
  padding-bottom: 30px;
  min-height: 200px;
  background-color: white; }

.editor-right-container {
  flex: 0 0 38%;
  position: relative;
  min-height: 200px; }
  .editor-right-container .right-image {
    border: 1px solid #c3c3c3;
    max-width: 510px; }

#editor-crop-modal {
  max-width: 100%; }
  #editor-crop-modal .image-preview {
    vertical-align: top;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin-right: -5px;
    transition: border-radius 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; }
  #editor-crop-modal .cropParent {
    width: 500px;
    height: 350px; }
  #editor-crop-modal .cropArea {
    width: 517px;
    height: 1100px;
    margin-bottom: 25px; }
  #editor-crop-modal canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px; }
