@import '../../../../common/base-styles.main';

.first-color-choice{
  color : $first-color;
}

.second-color-choice{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid $first-color;
  height: 20px;
  width: 40px;
  background-color : $second-color;
}

.sea-foam-choice{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid $first-color;
  height: 20px;
  width: 40px;
  background-color : $sea-foam-color;
}

.yellow-choice{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid $first-color;
  height: 20px;
  width: 40px;
  background-color : $yellow-color;
}

.bright-blue-choice{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid $first-color;
  height: 20px;
  width: 40px;
  background-color : $bright-blue;
}

.purple-choice{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid $first-color;
  height: 20px;
  width: 40px;
  background-color : $purpleish;
}

.dark-blueish-choice{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid $first-color;
  height: 20px;
  width: 40px;
  background-color : $dark-blueish;
}

.umm-blue-choice{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid $first-color;
  height: 20px;
  width: 40px;
  background-color : $umm-blue;
}

.umm-blue-choice{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid $first-color;
  height: 20px;
  width: 40px;
  background-color : $umm-blue;
}

.first-color-all{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid $first-color;
  height: 20px;
  width: 40px;
  background-color : $first-color;
}