<br/>
<br/>
<br/>
<div class="row">
  <div class="col-md-4">
    <h3> As you craft your resume(s) to present your best impression please remember we are in beta and </h3>
    <h3 class="text-center">As a consequence this site is still under continual changes including the addition and removal of features.</h3>
    <h3>Your usage of this site and associated activities acknowledges you are aware that:</h3>
    <h5 class="text-center">At this time we cannot make or infer any assurance of data persistence, reliability, or any other expectation.</h5>
    <br/>
  </div>
  <div class="col-md-4">
    <br/>
    <a ui-sref="issuesroute" >Have a question, or need assistance</a><br/>
  </div>
  <div class="col-md-4">

  </div>
</div>

