<div ng-mouseenter="$ctrl.popoverOpenItem(true, sectionItem.section  + 'Level', $index)"
     ng-mouseleave="$ctrl.popoverOpenItem(false, sectionItem.section  + 'Level', $index)">
      <span>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-1'">
        10
      </button>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-2'">
        20
      </button>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-3'">
        30
      </button>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-4'">
        40
      </button>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-5'">
        50
      </button>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-6'">
        60
      </button>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-7'">
        70
      </button>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-8'">
        80
      </button>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-9'">
        90
      </button>
      <button class="btn btn-sm  text-primary"
              ng-click="$ctrl.templateData.skills[$index].level = 'level-10'">
        100
      </button>
        </span>
</div>