


<div>
  <h5>{{$ctrl.dt | date:'fullDate'}}</h5>
  <div style="min-height:290px; background-color: blue;">
    <div uib-datepicker="{{$ctrl.format}}" ng-model="$ctrl.dt" class="well well-sm" datepicker-options="$ctrl.dateOptions"></div>
  </div>
</div>

<button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>

<label>Format: <span class="muted-text">(manual alternate <em>{{$ctrl.altInputFormats[0]}}</em>)</span></label>
<select class="form-control" ng-model="$ctrl.format" ng-options="f for f in $ctrl.formats">
  <option></option>
</select>

<button ng-click="$ctrl.submit()">Submit</button>

<!--
<p class="input-group">
  <input type="text" class="form-control" uib-datepicker="{{$ctrl.format}}" ng-model="$ctrl.postData.dateApplied" is-open="$ctrl.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="$ctrl.altInputFormats" placeholder="{{$ctrl.postData.dateApplied | date:'fullDate'}}" />
  <span class="input-group-btn">
             <button type="button" class="btn btn-default" ng-click="$ctrl.datePickOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
           </span>
</p>
<label>Format: <span class="muted-text">(manual alternate <em>{{$ctrl.altInputFormats[0]}}</em>)</span></label>
<select class="form-control" ng-model="$ctrl.format" ng-options="f for f in $ctrl.formats">
  <option></option>
</select>
{{$ctrl.postData.dateApplied}}
-->