
<div class="form-group">
  <br>
  <label for="editText">Label:</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-tag" aria-hidden="true"></i> </span>
    <input type="text" class="form-control" id="editText" ng-model="$ctrl.taskData.label" ng-keypress="$ctrl.saveTaskEdit($event, $ctrl.editingCopy)"/>
  </div>
  <label for="DueText">Due:</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-tag" aria-hidden="true"></i> </span>
    <input type="text" class="form-control" id="DueText" ng-model="$ctrl.taskData.due" ng-keypress="$ctrl.savePostTaskEnter($event)"/>
  </div>
  <label for="DetailsText">Details:</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-tag" aria-hidden="true"></i> </span>
    <input type="text" class="form-control" id="DetailsText" ng-model="$ctrl.taskData.details"/>
  </div>
  <button class="pull-left" ng-click="$ctrl.dismiss()">Cancel</button>
  <button class="pull-right" ng-click="$ctrl.updateTask($ctrl.taskData)">Save</button>
</div>
