
//$landing-page-background: "../backgrounds/man-people-office-writing.jpg";
$landing-page-background: url("../backgrounds/man-people-office-writing.jpg");
$login-page-background: url('../backgrounds/people-coffee-tea-meeting.jpg');

// todo refactor targets referencing of listor module to whiteboard
$whiteboard-page-background: url('../backgrounds/whiteBoard-empty2-smaller-file-size.jpg');
$creator-page-background: '../backgrounds/pexels-photo-27665.jpg';
$wooden-background: '../backgrounds/wooden-background.jpg';
$wooden-desk: '../backgrounds/almost-empty-desk2.jpg';
$empty-desk: '../backgrounds/Desk-empty2.jpg';