
//Site Background Colors
$primary: #2c3e50;
$base-background-color: #2c3e50;
$home-page-background: #2c3e50;
$home-page-background-original: #f46d3b;


//List-Group Colors
$heading-label-background: #114f7a;
$listed-item-background: #0b263c;



// Res Template Colors

$base-font-color: #333;

$first-color: #000000;
$second-color: #686868;
$sea-foam-color: #236860;
$yellow-color: #bab52e;
$bright-blue: rgba(10, 211, 255, 1);
$purpleish: purple;
$dark-blueish: #1C085B;
$umm-blue: #216785;