

// Base Font Properties
$base-font-size: 15px;

// Site Font Selection (see _font-mixin )
$primaryFontFamily: 'Merriweather', serif !important;
$secondaryFontFamily: 'Playfair Display', serif !important;

//Additional Fonts
$garamond: 'EB Garamond 12', serif;
$lato: 'Lato', sans-serif;
$merriweather: 'Merriweather', serif;
$montserrat: 'Montserrat', sans-serif;
$neuton: 'Neuton', serif;
$oswald: 'Oswald', sans-serif;
$quattrocento: 'Quattrocento', serif;
$playfair_display: 'Playfair Display', serif;
$open_sans: 'Open Sans', sans-serif;
$roboto_slab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$dancing_script: 'Dancing Script OT', cursive;
$alex_brush: 'Alex Brush', cursive;
$cac_champagne: 'CAC Champagne', cursive;
$heading: "Lato", Arial, Helvetica, sans-serif;

//Site Only Fonts
$theGirlNextDoor: 'The Girl Next Door' , cursive;
$reenie_beanie: 'Reenie_Beanie', cursive;
$nothingYouCouldDo: 'Nothing You Could Do', cursive;
$architectsDaughter: 'Architects Daughter', cursive;
$wcManoNegraBta: 'wc_mano_negra_btaregular', cursive;
$wcManoNegraBtaBold: 'wc_mano_negra_btabold', cursive;
$eraserRegular: 'eraserregular', cursive;
