
<div id="landing-page" class="landing-page-background" >
  <div ng-cloak>
    <img src="../../assets/brand/Jhunter_text-orange-black-border.svg" class="landing-title-image">
    <!--<h1 class="landing-title" id="headline">Jhuntr</h1>-->
    <div class="landing-action-item" ui-sref="signuproute">
      <!--  -->

      <p class="landing-action-text">Click here to get started!</p>
    </div>
  <!--  <a class="btn btn-primary " ui-sref="signuproute">Sign-Up & Try it out!</a> -->
  </div>
  <h4 class="landing-beta-notice">Currently In Beta</h4>
<h3 class="landing-tagline">Taking the effort out of the job hunt!</h3>

</div>
