@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
#modern-template { }
  #modern-template .navbar {
    border-width: 0 1px 4px 1px; }
  #modern-template .btn {
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
    #modern-template .btn:hover {
      margin-top: 1px;
      border-bottom-width: 3px; }
    #modern-template .btn:active {
      margin-top: 2px;
      border-bottom-width: 2px; }
    #modern-template .btn-lg,
    #modern-template .btn-group-lg > .btn {
      padding: 15px 16px 13px;
      line-height: 15px; }
    #modern-template .btn-sm,
    #modern-template .btn-group-sm > .btn {
      padding: 6px 10px 4px; }
    #modern-template .btn-xs,
    #modern-template .btn-group-xs > .btn {
      padding: 3px 5px 1px; }
    #modern-template .btn-default:hover, #modern-template .btn-default:focus,
    #modern-template .btn-group.open .dropdown-toggle.btn-default {
      background-color: #eeeeee;
      border-color: #e2e2e2; }
    #modern-template .btn-primary:hover, #modern-template .btn-primary:focus,
    #modern-template .btn-group.open .dropdown-toggle.btn-primary {
      background-color: #158CBA;
      border-color: #127ba3; }
    #modern-template .btn-success:hover, #modern-template .btn-success:focus,
    #modern-template .btn-group.open .dropdown-toggle.btn-success {
      background-color: #28B62C;
      border-color: #23a127; }
    #modern-template .btn-info:hover, #modern-template .btn-info:focus,
    #modern-template .btn-group.open .dropdown-toggle.btn-info {
      background-color: #75CAEB;
      border-color: #5fc1e8; }
    #modern-template .btn-warning:hover, #modern-template .btn-warning:focus,
    #modern-template .btn-group.open .dropdown-toggle.btn-warning {
      background-color: #FF851B;
      border-color: #ff7702; }
    #modern-template .btn-danger:hover, #modern-template .btn-danger:focus,
    #modern-template .btn-group.open .dropdown-toggle.btn-danger {
      background-color: #FF4136;
      border-color: #ff291d; }
  #modern-template .navbar-btn:hover {
    margin-top: 8px; }
  #modern-template .navbar-btn:active {
    margin-top: 9px; }
  #modern-template .navbar-btn.btn-sm:hover {
    margin-top: 11px; }
  #modern-template .navbar-btn.btn-sm:active {
    margin-top: 12px; }
  #modern-template .navbar-btn.btn-xs:hover {
    margin-top: 15px; }
  #modern-template .navbar-btn.btn-xs:active {
    margin-top: 16px; }
  #modern-template .btn-group-vertical .btn + .btn:hover {
    border-top-width: 1px; }
  #modern-template .btn-group-vertical .btn + .btn:active {
    border-top-width: 2px; }
  #modern-template .text-primary,
  #modern-template .text-primary:hover {
    color: #158CBA; }
  #modern-template .text-success,
  #modern-template .text-success:hover {
    color: #28B62C; }
  #modern-template .text-danger,
  #modern-template .text-danger:hover {
    color: #FF4136; }
  #modern-template .text-warning,
  #modern-template .text-warning:hover {
    color: #FF851B; }
  #modern-template .text-info,
  #modern-template .text-info:hover {
    color: #75CAEB; }
  #modern-template table a:not(.btn),
  #modern-template .table a:not(.btn) {
    text-decoration: underline; }
  #modern-template table .dropdown-menu a,
  #modern-template .table .dropdown-menu a {
    text-decoration: none; }
  #modern-template table .success,
  #modern-template table .warning,
  #modern-template table .danger,
  #modern-template table .info,
  #modern-template .table .success,
  #modern-template .table .warning,
  #modern-template .table .danger,
  #modern-template .table .info {
    color: #fff; }
    #modern-template table .success a:not(.btn),
    #modern-template table .warning a:not(.btn),
    #modern-template table .danger a:not(.btn),
    #modern-template table .info a:not(.btn),
    #modern-template .table .success a:not(.btn),
    #modern-template .table .warning a:not(.btn),
    #modern-template .table .danger a:not(.btn),
    #modern-template .table .info a:not(.btn) {
      color: #fff; }
  #modern-template table:not(.table-bordered) > thead > tr > th,
  #modern-template table:not(.table-bordered) > tbody > tr > th,
  #modern-template table:not(.table-bordered) > tfoot > tr > th,
  #modern-template table:not(.table-bordered) > thead > tr > td,
  #modern-template table:not(.table-bordered) > tbody > tr > td,
  #modern-template table:not(.table-bordered) > tfoot > tr > td,
  #modern-template .table:not(.table-bordered) > thead > tr > th,
  #modern-template .table:not(.table-bordered) > tbody > tr > th,
  #modern-template .table:not(.table-bordered) > tfoot > tr > th,
  #modern-template .table:not(.table-bordered) > thead > tr > td,
  #modern-template .table:not(.table-bordered) > tbody > tr > td,
  #modern-template .table:not(.table-bordered) > tfoot > tr > td {
    border-color: transparent; }
  #modern-template label {
    font-weight: normal; }
  #modern-template .has-warning .help-block,
  #modern-template .has-warning .control-label,
  #modern-template .has-warning .radio,
  #modern-template .has-warning .checkbox,
  #modern-template .has-warning .radio-inline,
  #modern-template .has-warning .checkbox-inline,
  #modern-template .has-warning.radio label,
  #modern-template .has-warning.checkbox label,
  #modern-template .has-warning.radio-inline label,
  #modern-template .has-warning.checkbox-inline label,
  #modern-template .has-warning .form-control-feedback {
    color: #FF851B; }
  #modern-template .has-warning .form-control,
  #modern-template .has-warning .form-control:focus {
    border: 1px solid #FF851B; }
  #modern-template .has-warning .input-group-addon {
    border: 1px solid #FF851B; }
  #modern-template .has-error .help-block,
  #modern-template .has-error .control-label,
  #modern-template .has-error .radio,
  #modern-template .has-error .checkbox,
  #modern-template .has-error .radio-inline,
  #modern-template .has-error .checkbox-inline,
  #modern-template .has-error.radio label,
  #modern-template .has-error.checkbox label,
  #modern-template .has-error.radio-inline label,
  #modern-template .has-error.checkbox-inline label,
  #modern-template .has-error .form-control-feedback {
    color: #FF4136; }
  #modern-template .has-error .form-control,
  #modern-template .has-error .form-control:focus {
    border: 1px solid #FF4136; }
  #modern-template .has-error .input-group-addon {
    border: 1px solid #FF4136; }
  #modern-template .has-success .help-block,
  #modern-template .has-success .control-label,
  #modern-template .has-success .radio,
  #modern-template .has-success .checkbox,
  #modern-template .has-success .radio-inline,
  #modern-template .has-success .checkbox-inline,
  #modern-template .has-success.radio label,
  #modern-template .has-success.checkbox label,
  #modern-template .has-success.radio-inline label,
  #modern-template .has-success.checkbox-inline label,
  #modern-template .has-success .form-control-feedback {
    color: #28B62C; }
  #modern-template .has-success .form-control,
  #modern-template .has-success .form-control:focus {
    border: 1px solid #28B62C; }
  #modern-template .has-success .input-group-addon {
    border: 1px solid #28B62C; }
  #modern-template .nav .open > a,
  #modern-template .nav .open > a:hover,
  #modern-template .nav .open > a:focus {
    border-color: transparent; }
  #modern-template .nav-tabs > li > a {
    margin-top: 6px;
    border-color: #e7e7e7;
    color: #333333; }
  #modern-template .nav-tabs > li > a:hover,
  #modern-template .nav-tabs > li > a:focus,
  #modern-template .nav-tabs > li.active > a,
  #modern-template .nav-tabs > li.active > a:hover,
  #modern-template .nav-tabs > li.active > a:focus,
  #modern-template .nav-tabs .open > a,
  #modern-template .nav-tabs .open > a:hover,
  #modern-template .nav-tabs .open > a:focus {
    padding-bottom: 16px;
    margin-top: 0; }
  #modern-template .nav-tabs .open > a,
  #modern-template .nav-tabs .open > a:hover,
  #modern-template .nav-tabs .open > a:focus {
    border-color: #e7e7e7; }
  #modern-template .nav-tabs > li.disabled > a:hover,
  #modern-template .nav-tabs > li.disabled > a:focus {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 6px; }
  #modern-template .nav-tabs.nav-justified > li {
    vertical-align: bottom; }
  #modern-template .dropdown-menu {
    margin-top: 0;
    border-width: 0 1px 4px 1px;
    border-top-width: 1px; }
  #modern-template .breadcrumb {
    border-color: #ededed;
    border-style: solid;
    border-width: 0 1px 4px 1px; }
  #modern-template .pagination > li > a,
  #modern-template .pagination > li > span,
  #modern-template .pager > li > a,
  #modern-template .pager > li > span {
    position: relative;
    top: 0;
    border-width: 0 1px 4px 1px;
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
    #modern-template .pagination > li > a:hover,
    #modern-template .pagination > li > span:hover,
    #modern-template .pager > li > a:hover,
    #modern-template .pager > li > span:hover {
      top: 1px;
      border-bottom-width: 3px; }
    #modern-template .pagination > li > a:active,
    #modern-template .pagination > li > span:active,
    #modern-template .pager > li > a:active,
    #modern-template .pager > li > span:active {
      top: 2px;
      border-bottom-width: 2px; }
  #modern-template .pagination > .disabled > a:hover,
  #modern-template .pagination > .disabled > span:hover,
  #modern-template .pager > .disabled > a:hover,
  #modern-template .pager > .disabled > span:hover {
    top: 0;
    border-width: 0 1px 4px 1px; }
  #modern-template .pagination > .disabled > a:active,
  #modern-template .pagination > .disabled > span:active,
  #modern-template .pager > .disabled > a:active,
  #modern-template .pager > .disabled > span:active {
    top: 0;
    border-width: 0 1px 4px 1px; }
  #modern-template .pager > li > a, #modern-template .pager > li > a:hover, #modern-template .pager > li > a:active,
  #modern-template .pager > li > span,
  #modern-template .pager > li > span:hover,
  #modern-template .pager > li > span:active,
  #modern-template .pager > .disabled > a,
  #modern-template .pager > .disabled > a:hover,
  #modern-template .pager > .disabled > a:active,
  #modern-template .pager > .disabled > span,
  #modern-template .pager > .disabled > span:hover,
  #modern-template .pager > .disabled > span:active {
    border-left-width: 2px;
    border-right-width: 2px; }
  #modern-template .close {
    color: #fff;
    text-decoration: none;
    opacity: 0.4; }
    #modern-template .close:hover, #modern-template .close:focus {
      color: #fff;
      opacity: 1; }
  #modern-template .alert {
    border-width: 0 1px 4px 1px; }
    #modern-template .alert .alert-link {
      font-weight: normal;
      color: #fff;
      text-decoration: underline; }
  #modern-template .label {
    font-weight: normal; }
  #modern-template .progress {
    border: 1px solid #e7e7e7; }
  #modern-template .well {
    border: 1px solid #e7e7e7; }
  #modern-template a.list-group-item.active, #modern-template a.list-group-item.active:hover, #modern-template a.list-group-item.active:focus {
    border-color: #eeeeee; }
  #modern-template a.list-group-item-success.active {
    background-color: #28B62C; }
  #modern-template a.list-group-item-success.active:hover, #modern-template a.list-group-item-success.active:focus {
    background-color: #23a127; }
  #modern-template a.list-group-item-warning.active {
    background-color: #FF851B; }
  #modern-template a.list-group-item-warning.active:hover, #modern-template a.list-group-item-warning.active:focus {
    background-color: #ff7702; }
  #modern-template a.list-group-item-danger.active {
    background-color: #FF4136; }
  #modern-template a.list-group-item-danger.active:hover, #modern-template a.list-group-item-danger.active:focus {
    background-color: #ff291d; }
  #modern-template .jumbotron {
    border: 1px solid #e7e7e7; }
  #modern-template .panel {
    border: 1px solid #e7e7e7;
    border-width: 0 1px 4px 1px; }
    #modern-template .panel-default .close {
      color: #555555; }
  #modern-template .modal .close {
    color: #555555; }
  #modern-template .popover {
    color: #555555; }
