/*

  .text {
    font-family: 'Merriweather', serif !important;
    font-size: 30px !important;
    font-weight: 800 !important;
    opacity: 1;
  }

    .text {
    font-family: 'Merriweather', serif !important;
    font-size: 30px !important;
    font-weight: 800 !important;
    opacity: 1;
  }
 */
/* Mixin's in this file:
pageOnlyFonts
muyMuchoFont
extraLargeFont
largeFont
mediumFont
normalFont
smallFont

*/
/*
// Site Font Sizing
for $fontFamily ( see variables/fonts )


wording based upon the pixel size of the font"
extra large: 50px
large: 40px
medium: 30px
normal: 20px
small: 15px
extra small: 10px

 */
.listor-page-container {
  position: absolute;
  height: 100%;
  /*  no-repeat center center fixed */ }
  .listor-page-container .frow {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0; }
    .listor-page-container .frow .fcol-full {
      flex: 0 0 100%; }
    .listor-page-container .frow .fcol-11 {
      flex: 0 0  91.66666667%; }
    .listor-page-container .frow .fcol-10 {
      flex: 0 0  83.33333333%; }
    .listor-page-container .frow .fcol-9 {
      flex: 0 0  75%; }
    .listor-page-container .frow .fcol-8 {
      flex: 0 0  66.66666667%; }
    .listor-page-container .frow .fcol-7 {
      flex: 0 0  58.33333333%; }
    .listor-page-container .frow .fcol-6 {
      flex: 0 0 50%; }
    .listor-page-container .frow .fcol-5 {
      flex: 0 0  41.66666667%; }
    .listor-page-container .frow .fcol-4 {
      flex: 0 0 33.3333%; }
    .listor-page-container .frow .fcol-3 {
      flex: 0 0 25%; }
    .listor-page-container .frow .fcol-2 {
      flex: 0 0 16.667%; }
    .listor-page-container .frow .fcol-1 {
      flex: 0 0 8.333%; }
    .listor-page-container .frow .fcol-0 {
      flex: 0 0 4.166666667%; }
    .listor-page-container .frow .fcol--1 {
      flex: 0 0 2.083333333%; }
    .listor-page-container .frow .start-fcol {
      justify-content: flex-start;
      text-align: start; }
    .listor-page-container .frow .center-fcol {
      justify-content: center;
      text-align: center; }
    .listor-page-container .frow .end-fcol {
      justify-content: flex-end;
      text-align: end; }
    .listor-page-container .frow .top-fcol {
      align-items: flex-start; }
    .listor-page-container .frow .middle-fcol {
      align-items: center; }
    .listor-page-container .frow .bottom-fcol {
      align-items: flex-end; }
    .listor-page-container .frow .around-fcol {
      justify-content: space-around; }
    .listor-page-container .frow .between-fcol {
      justify-content: space-between; }
  .listor-page-container .listor-background {
    background: url("../backgrounds/whiteBoard-empty2-smaller-file-size.jpg");
    background-size: cover;
    width: 100vw; }
  .listor-page-container .architects-daughter {
    font-family: "Architects Daughter", cursive !important; }
  .listor-page-container .top-col-height {
    height: 70px; }
  .listor-page-container .abox {
    position: relative;
    background-color: #949e9e;
    height: 30px;
    width: 300px;
    border-radius: 7px;
    opacity: 0.75; }
  .listor-page-container .task-outer-container {
    position: relative;
    height: auto;
    width: auto;
    border-radius: 7px;
    opacity: 0.75;
    text-align: center; }
  .listor-page-container .application-list {
    padding-left: 5vw; }
    .listor-page-container .application-list .ang-ui-grid {
      width: 90vw; }
