@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.flat {
  background: #fff;
  font-family: Lato, sans-serif;
  margin: 0 0 80px; }
  .flat a {
    color: #2ecc71; }
  .flat a:focus,
  .flat a:hover {
    color: #f1c40f;
    text-decoration: none; }
  .flat p {
    line-height: 1.5;
    margin: 0; }
  .flat p + p {
    margin-top: 10px; }
  .flat h1,
  .flat h2,
  .flat h3,
  .flat h4 {
    margin-top: 0; }
  .flat section {
    margin-top: 30px; }
  .flat li {
    line-height: 1.8;
    list-style: none; }
  .flat li:before {
    content: "\f052";
    float: left;
    font: 13px Octicons;
    margin-top: 6px;
    margin-left: -20px;
    opacity: .1;
    position: absolute; }
  .flat blockquote {
    border-left: 5px solid #e7e9ec;
    font-size: 14px; }
  .flat em {
    color: #95a5a6;
    font-weight: normal;
    font-style: normal; }
  .flat h4 span:first-child {
    color: #000;
    font-weight: bold; }
  .flat .container {
    max-width: 750px;
    padding: 0 30px; }
  .flat .col-sm-6 {
    margin-bottom: 10px; }
  .flat .col-sm-12 h4 {
    margin-top: 12px; }
  .flat .col-sm-12 + .col-sm-12 {
    margin-top: 30px; }
  .flat #header {
    background: #f4f6f6;
    padding: 50px 0;
    margin-bottom: 30px; }
  .flat #header h2 {
    color: #95a5a6;
    font-size: 24px; }
  .flat #content h3 {
    color: #f1c40f;
    font-size: 26px;
    margin-top: -4px; }
  .flat #content aside {
    text-align: right;
    padding-right: 30px; }
  .flat #profiles .network {
    text-transform: capitalize; }
  .flat #work .position,
  .flat #volunteer .position {
    font-weight: bold;
    margin-bottom: 8px; }
  .flat #education .area {
    font-weight: bold; }
  .flat #education .area:before {
    content: "\f0d7";
    font: 16px Octicons;
    margin-right: 6px; }
  .flat #education .studyType {
    margin-left: 25px; }
  .flat #awards .summary,
  .flat #publications .summary {
    margin-top: 8px; }
  .flat #publications .website a:before {
    content: attr(href); }
  @media (min-width: 480px) {
    .flat .strike-through {
      border-top: 1px solid #f4f6f6;
      height: 20px;
      margin-top: 12px;
      margin-bottom: -2px;
      position: relative; }
    .flat .strike-through span,
    .flat .strike-through a {
      background: #fff;
      position: absolute; }
    .flat .strike-through span:first-child {
      padding-right: 20px;
      margin-top: -12px; }
    .flat .strike-through span + span {
      font-size: 14px;
      margin-top: -10px;
      padding-left: 20px;
      right: 0; } }
  @media (max-width: 768px) {
    .flat .col-sm-6:last-child {
      margin-bottom: 0px; }
    .flat #content aside {
      margin-bottom: 20px;
      padding-right: 0;
      text-align: left; }
    .flat #publications .website a:before {
      content: "View publication"; } }
  @media (max-width: 480px) {
    .flat h1 {
      font-size: 26px; }
    .flat .date {
      font-size: 14px;
      margin-bottom: 5px; }
    .flat .strike-through span:first-child {
      margin-bottom: 7px; }
    .flat .strike-through span {
      display: block; }
    .flat #header {
      margin-bottom: 10px;
      padding: 40px 0; }
    .flat #actions {
      display: none; } }
