<!-- Achievement Section -->
<div id="achievement-section">

  <script type="text/ng-template" id="achievementsPopover.html">
    <button ng-click="$ctrl.removeSection('achievements')">
      Hide Section
    </button>
  </script>
  <div class="section-heading"
       ng-click="$ctrl.popoverOpen(true, sectionItem.section); $ctrl.buildPopupTitle(sectionItem.section);"
       ng-mouseenter="$ctrl.popoverOpen('alt', sectionItem.section)"
       ng-mouseleave="$ctrl.popoverOpen(false, sectionItem.section)"
       popover-trigger="none"
       popover-is-open="$ctrl.optionsOpen.achievements"
       uib-popover-template="$ctrl.sectionOptions()">
        <textarea class="editable section-heading-edit"
                  ng-class="[$ctrl.primaryColor, $ctrl.headingFont]"
                  placeholder="Achievements"
                  maxlength="100"
                  spellcheck="false"
                  autocomplete="off"
                  ng-change="$ctrl.dirtyValue(true)"
                  rows="1"
                  ng-model="$ctrl.templateData.labels.achievements">
        </textarea>
  </div>
  <div class="achievements"
       ng-repeat="achievement in $ctrl.templateData.achievements">
    <div class="achievement-item" page-link page-break >
      <i class="fa icon"
         ng-if="$ctrl.templateData.achievements[$index].icon_show"
         ng-class="[$ctrl.secondaryColor, achievement.icon]"
         ng-click="$ctrl.popoverOpenItem(true, sectionItem.section + 'icon', $index); $ctrl.iconSelectIndex = $index;"
         ng-mouseenter="$ctrl.popoverOpenItem('alt', sectionItem.section + 'icon', $index)"
         ng-mouseleave="$ctrl.popoverOpenItem(false, sectionItem.section + 'icon', $index)"
         popover-trigger="none"
         popover-placement="right"
         popover-is-open="$ctrl.optionsOpenItem[sectionItem.section + 'icon'][$index]"
         uib-popover-template="$ctrl.sectionOptions('iconSelect')">
      </i>
      <div class="single-achievement">
        <div class="achievement-label">
                <textarea class="editable achievement-label-edit"
                          ng-click="$ctrl.popoverOpenItem(true, sectionItem.section, $index)"
                          ng-mouseenter="$ctrl.popoverOpenItem('alt', sectionItem.section, $index)"
                          ng-mouseleave="$ctrl.popoverOpenItem(false, sectionItem.section, $index)"
                          popover-trigger="none"
                          popover-is-open="$ctrl.optionsOpenItem[sectionItem.section][$index]"
                          uib-popover-template="$ctrl.sectionOptions('iconOptions')"
                          ng-class="[$ctrl.primaryColor, $ctrl.subHeadingFont]"
                          name="achievement"
                          placeholder="What are you most proud of?"
                          maxlength="100"
                          spellcheck="false"
                          autocomplete="off"
                          rows="1"
                          ng-change="$ctrl.dirtyValue(true)"
                          ng-model="$ctrl.templateData.achievements[$index].label"
                          msd-elastic>
                </textarea>
        </div>
        <div class="achievement-details">
                <textarea class="editable achievement-details-edit"
                          ng-class="[$ctrl.secondaryColor, $ctrl.bodyFont]"
                          name="achievement"
                          placeholder="A bit about your achievement"
                          maxlength="100"
                          spellcheck="false"
                          autocomplete="off"
                          rows="1"
                          ng-change="$ctrl.dirtyValue(true)"
                          ng-model="$ctrl.templateData.achievements[$index].details"
                          msd-elastic>
                </textarea>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Achievement Section end -->