<!--Passions (placeholding for skills section) -->
<div id="skills-section"

     page-link page-break>

  <script type="text/ng-template" id="skillsPopover.html">
    <button ng-click="$ctrl.removeSection('skills')">
      Hide Section
    </button>
  </script>

  <div class="section-heading"
       ng-click="$ctrl.popoverOpen(true, sectionItem.section); $ctrl.buildPopupTitle(sectionItem.section);"
       ng-mouseenter="$ctrl.popoverOpen('alt', sectionItem.section)"
       ng-mouseleave="$ctrl.popoverOpen(false, sectionItem.section)"
       popover-trigger="none"
       popover-is-open="$ctrl.optionsOpen.skills"
       uib-popover-template="$ctrl.sectionOptions()">
        <textarea class="editable section-heading-edit "
                  ng-class="[$ctrl.primaryColor, $ctrl.headingFont]"
                  placeholder="Skills"
                  maxlength="100"
                  spellcheck="false"
                  autocomplete="off"
                  rows="1"
                  ng-change="$ctrl.dirtyValue(true)"
                  ng-model="$ctrl.templateData.labels.skills">
        </textarea>
  </div>

  <div class="skills">

    <div class="skill-item"
         ng-repeat="skill in $ctrl.templateData.skills"
         ng-if="skill.show">

      <div class="skill-label">
                <textarea class="editable skill-label-edit "
                          ng-click="$ctrl.popoverOpenItem(true, sectionItem.section, $index)"
                          ng-mouseenter="$ctrl.popoverOpenItem('alt', sectionItem.section, $index)"
                          ng-mouseleave="$ctrl.popoverOpenItem(false, sectionItem.section, $index)"
                          popover-trigger="none"
                          popover-is-open="$ctrl.optionsOpenItem[sectionItem.section][$index]"
                          uib-popover-template="$ctrl.sectionOptions('noIconOptions')"
                          ng-class="[$ctrl.primaryColor, $ctrl.subHeadingFont]"
                          placeholder="skill"
                          maxlength="100"
                          spellcheck="false"
                          autocomplete="off"
                          rows="1"
                          ng-change="$ctrl.dirtyValue(true)"
                          ng-model="$ctrl.templateData.skills[$index].name"
                          msd-elastic>
                </textarea>
        <div class="visual-level-container"
             ng-click="$ctrl.popoverOpenItem(true, sectionItem.section + 'Level', $index)"
             ng-mouseenter="$ctrl.popoverOpenItem('alt', sectionItem.section  + 'Level', $index)"
             ng-mouseleave="$ctrl.popoverOpenItem(false, sectionItem.section  + 'Level', $index)"
             popover-trigger="none"
             popover-is-open="$ctrl.optionsOpenItem.skillsLevel[$index]"
             uib-popover-template="$ctrl.sectionOptions('skillLevel')"
             popover-placement="right">
          <div ng-class="$ctrl.templateData.skills[$index].level"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Passions -->