<h3 class="norm-cursor">Awards</h3>
<div >
<button ng-click="$ctrl.addRecord()" class="btn btn-sm btn-link text-primary">
  Enter Another&nbsp;&nbsp;
  <i class="fa fa-plus " aria-hidden="true"></i>
</button>
<span ng-if="$ctrl.forEdit == $index"></span>
<ul >
  <li class="res-entity-list" ng-click="$ctrl.forEdit = $index" ng-repeat="thing in $ctrl.existingData">
    <span ng-if="$ctrl.existingData[$index].title.length > 0">
      {{$ctrl.existingData[$index].title }}&nbsp;&nbsp;
    <button ng-click="$ctrl.removeRecord('awards', $ctrl.existingData[$index], $index)"
            class="btn btn-sm btn-link">
      <i class="fa fa-times" aria-hidden="true">
      </i>
    </button>
    </span>
    <span ng-if="$ctrl.existingData[$index].title.length < 1 || $ctrl.existingData[$index].title == undefined">
      new entry&nbsp;&nbsp;
    <button ng-click="$ctrl.removeRecord('awards', $ctrl.existingData[$index], $index)"
            class="btn btn-sm btn-link">
      <i class="fa fa-times" aria-hidden="true">
      </i>
    </button>
    </span>
  </li>
</ul>
<button ng-click="$ctrl.existingData[$ctrl.forEdit].show = !$ctrl.existingData[$ctrl.forEdit].show"
        class="btn btn-sm  text-primary">
  <i ng-if="!$ctrl.existingData[$ctrl.forEdit].show" class="fa fa-eye" aria-hidden="true">
  </i>
  <span ng-if="!$ctrl.existingData[$ctrl.forEdit].show">
    &nbsp;Show
  </span>
  <i ng-if="$ctrl.existingData[$ctrl.forEdit].show" class="fa fa-eye-slash" aria-hidden="true">
  </i>
  <span ng-if="$ctrl.existingData[$ctrl.forEdit].show">
    &nbsp;Hide
  </span>
</button>
<div  class="res-entity-input">
  <input type="text"
         class="form-control input-sm"
         placeholder="Award Name"
         aria-label="Award Name"
         ng-change="$ctrl.dirtyValue()"
         ng-model="$ctrl.existingData[$ctrl.forEdit].title"/>
  <input type="text"
         class="form-control input-sm"
         placeholder="Award Date"
         aria-label="Award Date"
         ng-change="$ctrl.dirtyValue()"
         ng-model="$ctrl.existingData[$ctrl.forEdit].date"/>
  <input type="text"
         class="form-control input-sm"
         placeholder="Awarding Entity"
         aria-label="Awarding Entity"
         ng-change="$ctrl.dirtyValue()"
         ng-model="$ctrl.existingData[$ctrl.forEdit].awarder"/>
  <input type="text"
         class="form-control input-sm"
         placeholder="Summary"
         aria-label="Summary"
         ng-change="$ctrl.dirtyValue()"
         ng-model="$ctrl.existingData[$ctrl.forEdit].summary"/>
</div>
</div>