<h3>Governance</h3>
<button ng-click="$ctrl.addRecord()">Enter Another</button>
<button ng-click="$ctrl.removeRecord('governance', $ctrl.existingData[$ctrl.forEdit], $ctrl.forEdit)"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
<span ng-if="$ctrl.forEdit == $index"></span>
<ul >
  <li class="res-entity-list" ng-class="{'text-muted': !$ctrl.existingData[$index].show ,'text-primary': $ctrl.existingData[$index].show}" ng-click="$ctrl.forEdit = $index" ng-repeat="thing in $ctrl.existingData">
    <span ng-if="$ctrl.existingData[$index].organization.length > 0">{{$ctrl.existingData[$index].organization }}</span>
    <span ng-if="$ctrl.existingData[$index].organization.length < 1 || $ctrl.existingData[$index].organization == undefined">new entry</span>
  </li>
</ul>
<div>
  <input type="text" placeholder="organization" ng-model="$ctrl.existingData[$ctrl.forEdit].organization"/>
  <input type="text" placeholder="role" ng-model="$ctrl.existingData[$ctrl.forEdit].role"/>
  <input type="text" placeholder="start" ng-model="$ctrl.existingData[$ctrl.forEdit].start"/>
  <input type="text" placeholder="end" ng-model="$ctrl.existingData[$ctrl.forEdit].end"/>
  <input type="text" placeholder="summary" ng-model="$ctrl.existingData[$ctrl.forEdit].summary"/>
  <div id="highlights" ng-repeat="highlight in $ctrl.existingData[$ctrl.forEdit].highlights">
    <input type="text" placeholder="highlights" id="$index" ng-model="$ctrl.existingData[$ctrl.forEdit].highlights[$index].item" />
    <button ng-click="$ctrl.removeArrayEntry($ctrl.forEdit, highlight, 'highlights')">remove highlight</button>
  </div>
  <button ng-click="$ctrl.addArrayEntry($ctrl.forEdit, 'highlights')">Add highlight</button>
</div>