<h3 class="norm-cursor">Contact</h3>
<div >
<input type="text"
       class="form-control input-sm"
       placeholder="Address"
       ng-change="$ctrl.dirtyValue()"
       ng-model="$ctrl.existingData[0].address"/>
<input type="text"
       class="form-control input-sm"
       placeholder="Postal Code"
       ng-change="$ctrl.dirtyValue()"
       ng-model="$ctrl.existingData[0].postalCode">
<input type="text"
       class="form-control input-sm"
       placeholder="City"
       ng-change="$ctrl.dirtyValue()"
       ng-model="$ctrl.existingData[0].city">
<input type="text"
       class="form-control input-sm"
       placeholder="Country Code"
       ng-change="$ctrl.dirtyValue()"
       ng-model="$ctrl.existingData[0].countryCode">
<input type="text"
       class="form-control input-sm"
       placeholder="State"
       ng-change="$ctrl.dirtyValue()"
       ng-model="$ctrl.existingData[0].state">

</div>