<h3>Publications</h3>
<button ng-click="$ctrl.addRecord()">Enter Another</button>
<button class="btn" ng-click="$ctrl.removeRecord('publications', $ctrl.existingData[$ctrl.forEdit], $ctrl.forEdit)"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
<span ng-if="$ctrl.forEdit == $index"></span>
<ul >
  <li class="res-entity-list" ng-class="{'text-muted': !$ctrl.existingData[$index].show ,'text-primary': $ctrl.existingData[$index].show}" ng-click="$ctrl.forEdit = $index" ng-repeat="thing in $ctrl.existingData">
    <span ng-if="$ctrl.existingData[$index].name.length > 0">{{$ctrl.existingData[$index].name }}</span>
    <span ng-if="$ctrl.existingData[$index].name.length < 1 || $ctrl.existingData[$index].name == undefined">new entry</span>

  </li>
</ul>
<button ng-click="$ctrl.existingData[$ctrl.forEdit].show = !$ctrl.existingData[$ctrl.forEdit].show" >
  <i ng-if="$ctrl.existingData[$ctrl.forEdit].show" class="fa fa-eye" aria-hidden="true"></i>
  <i ng-if="!$ctrl.existingData[$ctrl.forEdit].show" class="fa fa-eye-slash" aria-hidden="true"></i>
</button>
<div>
  <input type="text" placeholder="Title" ng-model="$ctrl.existingData[$ctrl.forEdit].name"/>
  <input type="text" placeholder="publisher" ng-model="$ctrl.existingData[$ctrl.forEdit].publisher"/>
  <input type="text" placeholder="Release Date" ng-model="$ctrl.existingData[$ctrl.forEdit].releaseDate"/>
  <input type="text" placeholder="website" ng-model="$ctrl.existingData[$ctrl.forEdit].website"/>
  <input type="text" placeholder="summary" ng-model="$ctrl.existingData[$ctrl.forEdit].summary"/>
</div>
