



@mixin prefixKeyframes($name, $property, $start, $finish){
  @-webkit-keyframes #{$name} { from { #{$property}: $start; } to { #{$property}: $finish; }  }
  @-moz-keyframes #{$name} { from { #{$property}: $start; } to { #{$property}: $finish; }  }
  @-o-keyframes #{$name} { from { #{$property}: $start; } to { #{$property}-left: $finish; }  }
  @keyframes #{$name} { from { #{$property}: $start; } to { #{$property}: $finish; }  }
}

@mixin prefixAnimation ($duration, $easing, $delay, $iterations, $direction, $name){
  -webkit-animation: #{$duration}s $easing #{$delay}s $iterations $direction $name;
  -moz-animation: #{$duration}s $easing #{$delay}s $iterations $direction $name;
  -o-animation: #{$duration}s $easing #{$delay}s $iterations $direction $name;
  animation: #{$duration}s $easing #{$delay}s $iterations $direction $name;
}

@mixin prefixTransition ($property, $duration, $easing){
  -webkit-transition: $property #{$duration}s $easing;
  -moz-transition: $property #{$duration}s $easing;
  -o-transition: $property #{$duration}s $easing;
  transition: $property #{$duration}s $easing;
}


@mixin animatePropertyTransform($prefix, $duration, $easing, $transform, $transformValue, $properties){
  $middleVar: unquote("(")#{$transformValue} unquote(")");
  .#{$prefix}-close{
    @each $key, $value in $properties {
      #{$key}: $value;
    }
  }

  .#{$prefix}-open{
    transform: #{$transform}#{$middleVar};
    @each $key, $value in $properties {
      #{$key}: $value;
    }
  }
  .#{$prefix}-slide{
    transition: all #{$duration}s $easing;
  }
}